{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GFN Retro Hub{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="site-header">
        <h1 class="title-main">GFN RETRO HUB</h1>
        <p class="title-sub">DEINE REISE IN DIE GOLDENE ÄRA DES GAMINGS</p>
        
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'games:game_list' %}">Spiele</a>
            <a href="{% url 'games:highscores' %}">Highscores</a>
            
            {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}
            
<div class="auth-links">
    {% if user.is_authenticated %}
        <span style="color: #fff;">Willkommen, {{ user.username }}!</span>
        <a href="{% url 'admin:logout' %}?next=/">Logout</a>
    {% else %}
        <a href="{% url 'admin:login' %}?next={{ request.path }}">Login</a>
        <a href="{% url 'register_page' %}">Registrieren</a> {% endif %}
</div>
        </nav>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        Copyright 2024 by Onur Acu
    </footer>

    </body>
</html>